div.song-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 16%;
    height: auto;
}

li.song-card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 1px solid #f50;
    background-color: white;
    color:black;
    margin: 10px;
}

img.card-image {
    max-width: 50%;
    height: auto;
}

div.card-outer {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.fa-circle-play {
    color: #f50;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.play-button {
    position: absolute;
    height: 30px;
    width: 30px;
    z-index: 2;
    display: none;
    background-color: transparent;
    border-color: transparent;

}

div.card-outer:hover .play-button {
    display:block
}

.card-title {
    text-decoration: none;
    color:#333;
}

.card-artist {
    color:#333;
}
