#modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: fit-content; */
    /* width: 25%; */
  }

  #modal-background {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height:100%;
    background-color: rgba(255, 255, 255, 0.7);
  }

  #modal-content {
    position: fixed;
    background-color:white;
    height:500px;
    display: flex;
    justify-content: center;
    align-items:flex-start;
    border: solid 1px rgb(70, 70, 70);
  }
