div.songById {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.song-player {
    background-color: rosybrown;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: solid red 1px;
    width: 100%;
    height: 380px;
    margin-left: -30px;
    margin-right: -30px;
}

.fa-circle-play {
    color: #f50;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.individual-play-button {
    background-color: transparent;
    border-color: transparent;
    position: absolute;
    top: 10%;
    left: 5%;
}

div.song-title {
    background-color: black;
    color: white;
    font-size: 24px;
    position: absolute;
    top: 10%;
    left: 18%;
}

div.artist-name {
    background-color: black;
    color: white;
    font-size: 14px;
    position: absolute;
    top: 21%;
    left: 18%;
}

div.song-image {
    position: absolute;
    right: 0%;
}


