/* textarea {
    resize:none;
} */

input.comment-body {
    width: 100%;
}

div.outer-comment-form {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 500px;
    padding: 0;
    margin: 0;
}

input.submitButton {
    background-color: #f50;
    border-color: #f50;
    border-radius: 3px;
    box-shadow: none;
    cursor: pointer;
    color: white;
    border-width: 1px;
    border-style: none;
    border-image: none;
}
