.dropdown {
    position:relative;
    display: inline-block;
}

.profile-dropdown {
    position: absolute;
    min-width: 180px;
    min-height: 85px;
    top: 18px;
    left: -27px;
}

.profile-menu-button {
    height: 26px;
    width: 26px;
    border-radius: 50%;
}

div.username {
    padding: 5px;
}
div.logout-link {
    padding-top: 5px;
    text-decoration: none;
}

.fa-user-astronaut {
    position: relative;
    right: 120%
}

header.banner {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 46px;
    padding: 0;
    border: 0;
    margin: 0;
    background: #333;
    font-weight: 100;
    font-size: 14px;
    line-height: 1.5;
    position: sticky;
    top: 0;
    z-index: 3;
}

div.top-banner-links {
    display: flex;
    align-items: center;
    width: 100%;
    margin-left: 17%;
    margin-right: 17%;
    justify-content: center;
}

div.left-banner {
    display: flex;
    justify-content: left;
    width: 33%;
    /* border: red 1px solid; */
}

div.middle-banner {
    display: flex;
    justify-content: center;
    width: 33%;
}

div.right-banner {
    display: flex;
    justify-content:right;
    width: 33%;
}

i.banner-cloud {
    display: flex;
    color: white;
    align-items: center;
}

div.navlink NavLink {
    border: solid red 1px;
    text-decoration: none;
    color: white;
}

.navbar-link:focus {
    background-color: #111;
}

.upload-link {
    display: block;
    text-decoration: none;
    color: #ccc;
    padding: 12px 0;
    height: 46px;
    box-sizing: border-box;
    text-align: center;
    width: 104px;
}
