button.signin-button {
    background-color: rgba(0, 0, 0, 0.5);
    border-color: white;
    color: white;
}

button.submit-button, button.demo-user {
    font-size: 16 px;
    height: 40px;
    line-height: 18 px;
    padding: 10px 15px;
    width: 100%;
    background-color: #f50;
    border-color: #f50;
    color: white;
}
